NodeRed_Flows/Test ElasticSearch.txt
[{"id":"31787e5f.353692","type":"es-create","z":"419dbf4c.58c8c","name":"Insert into ElasticSearch","documentIndex":"","documentType":"","server":"773fd172.5697c","x":947,"y":305,"wires":[["55bb78b.5f69c88"]]},{"id":"15830ea3.80f941","type":"inject","z":"419dbf4c.58c8c","name":"","topic":"Home","payload":"{ \"name\" : \"Floris\" }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":273,"y":304,"wires":[["35c48de4.afebd2"]]},{"id":"55bb78b.5f69c88","type":"debug","z":"419dbf4c.58c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1003,"y":380,"wires":[]},{"id":"35c48de4.afebd2","type":"function","z":"419dbf4c.58c8c","name":"","func":"msg.documentIndex = \"index_floris\"\nmsg.documentType = \"floral\"\nmsg.documentId = msg._msgid;\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":298,"wires":[["31787e5f.353692"]]},{"id":"773fd172.5697c","type":"remote-server","z":"","name":"ElasticSearch on ASROCK","host":"http://192.168.2.200:9200","timeout":"3600","reqtimeout":"3600"}]